#exportPattern("^[[:alpha:]]+")
useDynLib(ct)
importFrom(Rcpp, sourceCpp)

## Before field
export(ct_survey_design)
## Prepare media file
export(ct_app)
export(ct_get_hs) #ok
export(ct_create_hs)#ok
export(ct_remove_hs) #ok
export(ct_clone_dir) #ok
export(ct_read_metadata) #ok
export(ct_install_exiftool)
export(ct_exiftool_call)

## Prepare table
export(ct_read) #ok
export(ct_stack_df) #ok
export(ct_check_location)#ok
export(ct_independence) #ok
export(ct_to_radian)
export(ct_solartime)
export(ct_to_time)
export(ct_to_community) #ok
export(ct_standardize)
export(ct_check_name)
export(ct_to_occupancy)
export(ct_find_break)
export(ct_correct_datetime)
export(ct_get_effort) #no
export(ct_traprate_data) # no
export(ct_dp_read) # no 2025-08-09
export(ct_dp_table) # no 2025-08-09
export(ct_dp_example) # no 2025-08-09
export(ct_dp_version) # no 2025-08-09
export(ct_dp_filter) # no 2025-08-09
export(ct_convert_unit) # no 2025-08-24
export(ct_camera_day) # no 2025-09-21
export(ct_camtrap_animal_distance) # no 2025-10-02

## Analysis
export(ct_describe_df)
export(ct_plot_density)
export(ct_plot_overlap)#ok
export(ct_plot_overlap_coef)
export(ct_plot_rose_diagram)
export(ct_plot_camtrap_activity)
export(ct_plot_inext) # no 2025-09-21
export(ct_overlap_estimates)
export(ct_bootstrap)
export(ct_resample)
export(ct_boot_estimates)
export(ct_boot_ci)
export(ct_ci)
export(ct_overlap_matrix)
export(ct_temporal_shift)
export(ct_alpha_diversity)
export(ct_dissimilarity)
export(ct_spatial_coverage)
export(ct_summarise_camtrap_activity)
export(ct_traprate_estimate) ## no
export(ct_fit_activity) #no
export(ct_fit_speedmodel) #no
export(ct_fit_detmodel) #no
export(ct_fit_rem) # no
export(ct_availability) # no 2025-07-29
export(ct_select_model) # no 2025-08-02
export(ct_QAIC) # no 2025-08-02
export(ct_chi2_select) # no 2025-08-02
export(ct_fit_ds) # no 2025-08-07
export(ct_inext) # no 2025-09-21



## General
export(`%>%`)
export(`%<>%`)


########### Import ##############

# base
importFrom("methods", "hasArg")
importFrom("stats", "aggregate", "as.formula", "qt", "sd", "window",
           "end", "predict", "quantile", "start", "setNames",
           "cov")
importFrom("utils", "install.packages", "installed.packages", "read.table",
           "write.csv", "head", "download.file", "read.csv", "untar", "unzip", "menu")

# dplyr
importFrom(dplyr, as_tibble, arrange, mutate, tibble, rename, bind_rows, bind_cols,
           relocate, left_join, count, ungroup, enquos, sym, syms, ensym, ensyms,
           everything, across, select, all_of)


#rlang
importFrom(rlang, ":=", enquo, is_symbol, is_quosure, as_name, get_expr)

#tidyr
importFrom(tidyr, pivot_wider)

# magrittr
importFrom(magrittr, '%>%', '%<>%')

# ggplot
importFrom(ggplot2, ggplot, aes, geom_polygon, geom_point, geom_text, labs,
           theme_minimal, theme, element_line, element_blank, element_text,
           geom_line, geom_rug, annotate, scale_x_continuous, scale_size_continuous,
           scale_color_gradientn, guides, guide_colorbar)

#shiny
importFrom(shiny, shinyOptions, shinyApp, modalDialog, tagList, actionButton,
           icon, modalButton, fluidRow, column, checkboxInput, selectInput,
           verbatimTextOutput, showModal, reactive, eventReactive, renderText,
           req, strong, h2, br, hr, conditionalPanel, numericInput, renderPrint,
           renderPlot, tabsetPanel, tabPanel, plotOutput, observe, updateNumericInput,
           reactiveValues, updateSelectInput, updateTextInput)


#ds4Dash
importFrom("bs4Dash", "dashboardHeader", "dashboardBody", "dashboardPage", "dashboardSidebar")

#leaflet
importFrom("leaflet", "leafletOutput", "renderLeaflet")

#shinyFIles
importFrom(shinyFiles, getVolumes, parseDirPath, parseFilePaths, parseSavePath,
           shinyDirButton, shinyDirChoose, shinyDirLink, shinyFileChoose,
           shinyFileSave, shinyFilesButton, shinySaveButton)


#shinyTree
importFrom("shinyTree", "renderTree", "shinyTree")

#overlap
importFrom(overlap, bootCI, bootCIlogit, bootEst, bootstrap, densityFit, densityPlot,
           getBandWidth, overlapEst, overlapPlot, overlapTrue, resample, sunTime)


# sf
importFrom(sf, st_as_sf, st_transform, st_coordinates, st_crs, st_geometry_type)

# terra
importFrom(terra, rast, vect, values, as.polygons, extend, rasterize, global, mean)

# cli
importFrom(cli,cli_alert_danger,cli_alert_success,cli_alert_warning,cli_format,
           cli_text, cli_abort, cli_warn, cli_div, cat_line, format_error)

# Distance
importFrom(Distance, ds)

# sbd
importFrom(sbd, sbm)
